--
-- PostgreSQL database dump
--

\restrict hvicGcNO1W9DZdabYVQk0hhz5ebjfuKt7cskVdPjpNdr6zCeq77txsUayyUdPKt

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DocStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DocStatus" AS ENUM (
    'DRAFT',
    'CONFIRMED',
    'CANCELLED'
);


ALTER TYPE public."DocStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'CARD',
    'BANK_TRANSFER',
    'QR_PAY',
    'CREDIT'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'MANAGER',
    'CASHIER',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: ShiftStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ShiftStatus" AS ENUM (
    'OPEN',
    'CLOSED'
);


ALTER TYPE public."ShiftStatus" OWNER TO postgres;

--
-- Name: StockMoveType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockMoveType" AS ENUM (
    'PURCHASE_IN',
    'SALE_OUT',
    'ADJUSTMENT',
    'TRANSFER_IN',
    'TRANSFER_OUT',
    'RETURN_IN',
    'RETURN_OUT'
);


ALTER TYPE public."StockMoveType" OWNER TO postgres;

--
-- Name: UnitType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UnitType" AS ENUM (
    'COUNT',
    'WEIGHT',
    'VOLUME',
    'LENGTH',
    'OTHER'
);


ALTER TYPE public."UnitType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Brand" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Brand" OWNER TO postgres;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    "parentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO postgres;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    name text NOT NULL,
    phone text,
    email text,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "creditEnabled" boolean DEFAULT false NOT NULL,
    "creditLimitCents" integer DEFAULT 0 NOT NULL,
    "creditAlertPct" integer DEFAULT 80 NOT NULL,
    "creditSettleDays" integer
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: PosDraft; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PosDraft" (
    id text NOT NULL,
    label text,
    "warehouseId" text NOT NULL,
    "customerId" text,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    "discountCents" integer DEFAULT 0 NOT NULL,
    note text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PosDraft" OWNER TO postgres;

--
-- Name: PosDraftItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PosDraftItem" (
    id text NOT NULL,
    "draftId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    "unitPriceCents" integer NOT NULL
);


ALTER TABLE public."PosDraftItem" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    sku text NOT NULL,
    barcode text,
    name text NOT NULL,
    description text,
    "categoryId" text,
    "brandId" text,
    "unitId" text NOT NULL,
    "costCents" integer DEFAULT 0 NOT NULL,
    "priceCents" integer DEFAULT 0 NOT NULL,
    "taxPercent" double precision DEFAULT 0 NOT NULL,
    "reorderLevel" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    "expiryAlertDays" integer DEFAULT 30 NOT NULL,
    "imageUrl" text,
    "baseUnitId" text,
    "purchaseUnitId" text,
    "salesUnitId" text
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    number text NOT NULL,
    "supplierId" text NOT NULL,
    "warehouseId" text NOT NULL,
    status public."DocStatus" DEFAULT 'DRAFT'::public."DocStatus" NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "subtotalCents" integer DEFAULT 0 NOT NULL,
    "taxCents" integer DEFAULT 0 NOT NULL,
    "totalCents" integer DEFAULT 0 NOT NULL,
    note text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidCents" integer DEFAULT 0 NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "deletedById" text
);


ALTER TABLE public."Purchase" OWNER TO postgres;

--
-- Name: PurchaseLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PurchaseLine" (
    id text NOT NULL,
    "purchaseId" text NOT NULL,
    "productId" text NOT NULL,
    qty numeric(18,4) NOT NULL,
    "unitCostCents" integer NOT NULL,
    "taxPercent" double precision DEFAULT 0 NOT NULL,
    "lineTotalCents" integer NOT NULL,
    "baseQty" numeric(18,6),
    "unitId" text,
    "expiryDate" timestamp(3) without time zone
);


ALTER TABLE public."PurchaseLine" OWNER TO postgres;

--
-- Name: Sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Sale" (
    id text NOT NULL,
    number text NOT NULL,
    "customerId" text,
    "warehouseId" text NOT NULL,
    status public."DocStatus" DEFAULT 'DRAFT'::public."DocStatus" NOT NULL,
    "isPos" boolean DEFAULT false NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "subtotalCents" integer DEFAULT 0 NOT NULL,
    "taxCents" integer DEFAULT 0 NOT NULL,
    "discountCents" integer DEFAULT 0 NOT NULL,
    "totalCents" integer DEFAULT 0 NOT NULL,
    "paidCents" integer DEFAULT 0 NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    note text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "deletedById" text,
    "shiftId" text
);


ALTER TABLE public."Sale" OWNER TO postgres;

--
-- Name: SaleLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SaleLine" (
    id text NOT NULL,
    "saleId" text NOT NULL,
    "productId" text NOT NULL,
    qty numeric(18,4) NOT NULL,
    "unitPriceCents" integer NOT NULL,
    "taxPercent" double precision DEFAULT 0 NOT NULL,
    "discountCents" integer DEFAULT 0 NOT NULL,
    "lineTotalCents" integer NOT NULL,
    "baseQty" numeric(18,6),
    "unitId" text
);


ALTER TABLE public."SaleLine" OWNER TO postgres;

--
-- Name: SaleReturn; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SaleReturn" (
    id text NOT NULL,
    number text NOT NULL,
    "saleId" text NOT NULL,
    "warehouseId" text NOT NULL,
    reason text,
    "totalCents" integer DEFAULT 0 NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SaleReturn" OWNER TO postgres;

--
-- Name: SaleReturnLine; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SaleReturnLine" (
    id text NOT NULL,
    "returnId" text NOT NULL,
    "productId" text NOT NULL,
    qty numeric(18,4) NOT NULL,
    "unitPriceCents" integer NOT NULL,
    "lineTotalCents" integer NOT NULL
);


ALTER TABLE public."SaleReturnLine" OWNER TO postgres;

--
-- Name: Stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Stock" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "warehouseId" text NOT NULL,
    qty numeric(18,4) DEFAULT 0 NOT NULL
);


ALTER TABLE public."Stock" OWNER TO postgres;

--
-- Name: StockMovement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StockMovement" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "warehouseId" text NOT NULL,
    type public."StockMoveType" NOT NULL,
    qty numeric(18,4) NOT NULL,
    "refType" text,
    "refId" text,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StockMovement" OWNER TO postgres;

--
-- Name: Supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Supplier" (
    id text NOT NULL,
    name text NOT NULL,
    phone text,
    email text,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Supplier" OWNER TO postgres;

--
-- Name: Unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Unit" (
    id text NOT NULL,
    name text NOT NULL,
    "shortCode" text NOT NULL,
    "allowDecimal" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    type public."UnitType" DEFAULT 'COUNT'::public."UnitType" NOT NULL
);


ALTER TABLE public."Unit" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    role public."Role" DEFAULT 'STAFF'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    permissions jsonb
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_settings (
    id text NOT NULL,
    "businessName" text DEFAULT 'My Business'::text NOT NULL,
    "businessRegNo" text,
    "businessAddress" text,
    "businessPhone" text,
    "businessEmail" text,
    "logoUrl" text,
    "currencySymbol" text DEFAULT 'Rs.'::text NOT NULL,
    "currencyCode" text DEFAULT 'LKR'::text NOT NULL,
    "currencyPosition" text DEFAULT 'before'::text NOT NULL,
    "dateFormat" text DEFAULT 'DD/MM/YYYY'::text NOT NULL,
    timezone text DEFAULT 'Asia/Colombo'::text NOT NULL,
    "defaultTaxPercent" double precision DEFAULT 0 NOT NULL,
    "taxLabel" text DEFAULT 'Tax'::text NOT NULL,
    "taxNumber" text,
    "taxEnabled" boolean DEFAULT false NOT NULL,
    "taxInclusive" boolean DEFAULT false NOT NULL,
    "posRequireShift" boolean DEFAULT true NOT NULL,
    "posAllowDiscount" boolean DEFAULT true NOT NULL,
    "posMaxDiscountPct" double precision DEFAULT 100 NOT NULL,
    "posPrintReceipt" boolean DEFAULT true NOT NULL,
    "posReceiptFooter" text,
    "posDefaultWarehouseId" text,
    "invoicePrefix" text DEFAULT 'INV'::text NOT NULL,
    "invoiceStartNo" integer DEFAULT 1 NOT NULL,
    "invoiceDueDays" integer DEFAULT 30 NOT NULL,
    "purchasePrefix" text DEFAULT 'PO'::text NOT NULL,
    "invoiceFooter" text,
    "invoiceShowLogo" boolean DEFAULT true NOT NULL,
    "sessionTimeoutMin" integer DEFAULT 480 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "receiptLanguage" text DEFAULT 'en'::text NOT NULL,
    "receiptTagline" text,
    "receiptShowLogo" boolean DEFAULT true NOT NULL,
    "receiptShowTax" boolean DEFAULT false NOT NULL,
    "receiptShowSku" boolean DEFAULT false NOT NULL,
    "receiptPaperWidth" text DEFAULT '80mm'::text NOT NULL,
    "receiptShowBarcode" boolean DEFAULT true NOT NULL,
    "receiptShowCashier" boolean DEFAULT true NOT NULL,
    "receiptQrEnabled" boolean DEFAULT false NOT NULL,
    "receiptHeaderLine1" text,
    "receiptHeaderLine2" text,
    "alertLowStockEnabled" boolean DEFAULT true NOT NULL,
    "alertExpiryEnabled" boolean DEFAULT true NOT NULL,
    "alertExpiryDays" integer DEFAULT 30 NOT NULL,
    "alertLowStockEmail" text,
    "alertShowInDashboard" boolean DEFAULT true NOT NULL,
    "alertBellEnabled" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.app_settings OWNER TO postgres;

--
-- Name: expense_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense_categories (
    id text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#6366f1'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "monthlyBudget" integer,
    "deletedAt" timestamp(3) without time zone,
    "deletedById" text
);


ALTER TABLE public.expense_categories OWNER TO postgres;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    amount integer NOT NULL,
    description text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    reference text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRecurring" boolean DEFAULT false NOT NULL,
    "recurringDay" integer,
    "recurringTemplateId" text,
    "monthYear" text,
    "deletedAt" timestamp(3) without time zone,
    "deletedById" text
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id text NOT NULL,
    "saleId" text,
    "purchaseId" text,
    "amountCents" integer NOT NULL,
    method public."PaymentMethod" NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    note text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: pos_shifts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pos_shifts (
    id text NOT NULL,
    "userId" text NOT NULL,
    "openedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "closedAt" timestamp(3) without time zone,
    "openingCashCents" integer DEFAULT 0 NOT NULL,
    "closingCashCents" integer,
    "totalSalesCents" integer DEFAULT 0 NOT NULL,
    status public."ShiftStatus" DEFAULT 'OPEN'::public."ShiftStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "warehouseId" text NOT NULL,
    "cashSalesCents" integer DEFAULT 0 NOT NULL,
    "cardSalesCents" integer DEFAULT 0 NOT NULL,
    "bankTransferCents" integer DEFAULT 0 NOT NULL,
    "qrPayCents" integer DEFAULT 0 NOT NULL,
    "creditSalesCents" integer DEFAULT 0 NOT NULL,
    "saleCount" integer DEFAULT 0 NOT NULL,
    "expectedCashCents" integer,
    "varianceCents" integer,
    note text,
    "forceClosedById" text
);


ALTER TABLE public.pos_shifts OWNER TO postgres;

--
-- Name: product_unit_conversions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_unit_conversions (
    id text NOT NULL,
    "productId" text NOT NULL,
    "fromUnitId" text NOT NULL,
    "toUnitId" text NOT NULL,
    "conversionQty" numeric(18,6) NOT NULL,
    "priceCents" integer,
    barcode text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.product_unit_conversions OWNER TO postgres;

--
-- Name: stock_alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_alerts (
    id text NOT NULL,
    type text NOT NULL,
    severity text NOT NULL,
    "productId" text NOT NULL,
    "warehouseId" text,
    qty double precision NOT NULL,
    threshold double precision NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    message text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "isDismissed" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_alerts OWNER TO postgres;

--
-- Name: stock_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_batches (
    id text NOT NULL,
    "productId" text NOT NULL,
    "warehouseId" text NOT NULL,
    "purchaseLineId" text,
    qty numeric(18,4) NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    "receivedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_batches OWNER TO postgres;

--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouses (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    city text,
    phone text,
    email text,
    "managerId" text,
    type text DEFAULT 'MAIN'::text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    notes text
);


ALTER TABLE public.warehouses OWNER TO postgres;

--
-- Data for Name: Brand; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Customer" (id, name, phone, email, address, "isActive", "createdAt", "updatedAt", "creditEnabled", "creditLimitCents", "creditAlertPct", "creditSettleDays") FROM stdin;
\.


--
-- Data for Name: PosDraft; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PosDraft" (id, label, "warehouseId", "customerId", "paymentMethod", "discountCents", note, "createdById", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PosDraftItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PosDraftItem" (id, "draftId", "productId", qty, "unitPriceCents") FROM stdin;
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PurchaseLine; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PurchaseLine" (id, "purchaseId", "productId", qty, "unitCostCents", "taxPercent", "lineTotalCents", "baseQty", "unitId", "expiryDate") FROM stdin;
cmphavucy000jy9gtjtf0sf24	cmphavucy000hy9gt1eohhohc	cmphaq7qw000by9gtii5yz6gg	100.0000	254000	0	25400000	\N	\N	2026-06-06 00:00:00
cmphayx58000qy9gtq5ii5d2n	cmphawuxe000ly9gtnd7vvioc	cmphateyy000ey9gt1tknohwl	150.0000	92000	0	13800000	\N	\N	2026-06-05 00:00:00
cmphbd5wx001zy9gtg6zngylt	cmphbd5wx001xy9gtynajcx8i	cmphaq7qw000by9gtii5yz6gg	25.0000	254000	0	6350000	\N	\N	2026-07-06 00:00:00
\.


--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SaleLine; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SaleLine" (id, "saleId", "productId", qty, "unitPriceCents", "taxPercent", "discountCents", "lineTotalCents", "baseQty", "unitId") FROM stdin;
cmphb330o001by9gtmks5xzvn	cmphb330o0019y9gtav1bscam	cmphaq7qw000by9gtii5yz6gg	2.0000	292400	0	0	584800	\N	\N
cmphb7hp2001my9gtzgicc0t4	cmphb7hp2001ky9gtz70x13np	cmphaq7qw000by9gtii5yz6gg	50.0000	292400	0	0	14620000	\N	\N
\.


--
-- Data for Name: SaleReturn; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SaleReturn" (id, number, "saleId", "warehouseId", reason, "totalCents", "createdById", "createdAt", "updatedAt") FROM stdin;
cmphbg8po0029y9gtpqtdx2gu	CRN-2026-0001	cmphb330o0019y9gtav1bscam	cmpha15dj000dqqvhz7ws5dlx	dsmage	292400	cmpha15cc0000qqvhrs9xus0e	2026-05-22 19:32:07.068	2026-05-22 19:32:07.068
\.


--
-- Data for Name: SaleReturnLine; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SaleReturnLine" (id, "returnId", "productId", qty, "unitPriceCents", "lineTotalCents") FROM stdin;
cmphbg8po002by9gt3qjxpi5j	cmphbg8po0029y9gtpqtdx2gu	cmphaq7qw000by9gtii5yz6gg	1.0000	292400	292400
\.


--
-- Data for Name: Stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StockMovement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Supplier" (id, name, phone, email, address, "isActive", "createdAt", "updatedAt") FROM stdin;
cmphau3cx000fy9gt3hgkmd5r	aman stores	\N	\N	\N	t	2026-05-22 19:14:53.697	2026-05-22 19:14:53.697
\.


--
-- Data for Name: Unit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, "passwordHash", "fullName", role, "isActive", "createdAt", "updatedAt", permissions) FROM stdin;
cmpha15cc0000qqvhrs9xus0e	admin@modernerp.local	$2a$12$ffj7UHaGRDtnMi/E/56bbeSykNctUF/h4X3w.rLrlXAPEzB4NpqsW	System Admin	ADMIN	t	2026-05-22 18:52:23.244	2026-05-22 18:52:23.244	\N
cmpha15cn0001qqvhaw9kswjs	cashier@modernerp.local	$2a$12$ExX3onDqyNHHtX2VPsdP7erTdXyuvSX7ou/dkXV4asHKolNI6.Vu6	Demo Cashier	CASHIER	t	2026-05-22 18:52:23.256	2026-05-22 18:52:23.256	\N
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expense_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expense_categories (id, name, color, "isActive", "monthlyBudget", "deletedAt", "deletedById") FROM stdin;
f53247e0-f3e5-4767-9885-18d95cd0027b	Rent	#3b82f6	t	\N	\N	\N
3f0d1faa-3587-4615-ab4f-a36441fe9a7d	Utilities	#f59e0b	t	\N	\N	\N
7af7eaed-251b-4d16-ba06-d0f83d0f4310	Salaries	#10b981	t	\N	\N	\N
3457faae-e211-40b2-95f4-1f46f9eb7ec1	Supplies	#8b5cf6	t	\N	\N	\N
c656d08e-df9a-4ce6-a4db-7b9f0cbff28f	Marketing	#ef4444	t	\N	\N	\N
d34b81ea-6d99-428d-a67c-13b8b896b3b3	Other	#6366f1	t	\N	\N	\N
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses (id, "categoryId", amount, description, date, "paymentMethod", reference, "createdById", "createdAt", "isRecurring", "recurringDay", "recurringTemplateId", "monthYear", "deletedAt", "deletedById") FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (id, "saleId", "purchaseId", "amountCents", method, date, note, "createdById", "createdAt") FROM stdin;
\.


--
-- Data for Name: pos_shifts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_unit_conversions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_unit_conversions (id, "productId", "fromUnitId", "toUnitId", "conversionQty", "priceCents", barcode, "isActive", "createdAt", "updatedAt") FROM stdin;
cmpha15gx001pqqvh9tu3aixz	cmpha15ei000lqqvhjh4obvpg	cmpha15d00004qqvh6aiuaq09	cmpha15cr0002qqvh346n930j	12.000000	\N	\N	t	2026-05-22 18:52:23.41	2026-05-22 18:52:23.41
cmpha15h6001rqqvh1y0cgdn4	cmpha15f7000tqqvhvx6tjsag	cmpha15d00004qqvh6aiuaq09	cmpha15cr0002qqvh346n930j	24.000000	\N	\N	t	2026-05-22 18:52:23.418	2026-05-22 18:52:23.418
\.


--
-- Data for Name: stock_alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouses (id, name, code, address, "isActive", "createdAt", "updatedAt", city, phone, email, "managerId", type, "isDefault", notes) FROM stdin;
cmpha15dj000dqqvhz7ws5dlx	Main Warehouse	MAIN	\N	t	2026-05-22 18:52:23.287	2026-05-22 18:52:23.287	\N	\N	\N	\N	MAIN	f	\N
\.


--
-- Name: Brand Brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Brand"
    ADD CONSTRAINT "Brand_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: PosDraftItem PosDraftItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraftItem"
    ADD CONSTRAINT "PosDraftItem_pkey" PRIMARY KEY (id);


--
-- Name: PosDraft PosDraft_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraft"
    ADD CONSTRAINT "PosDraft_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: PurchaseLine PurchaseLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseLine"
    ADD CONSTRAINT "PurchaseLine_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: SaleLine SaleLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleLine"
    ADD CONSTRAINT "SaleLine_pkey" PRIMARY KEY (id);


--
-- Name: SaleReturnLine SaleReturnLine_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturnLine"
    ADD CONSTRAINT "SaleReturnLine_pkey" PRIMARY KEY (id);


--
-- Name: SaleReturn SaleReturn_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturn"
    ADD CONSTRAINT "SaleReturn_pkey" PRIMARY KEY (id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (id);


--
-- Name: StockMovement StockMovement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_pkey" PRIMARY KEY (id);


--
-- Name: Stock Stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_pkey" PRIMARY KEY (id);


--
-- Name: Supplier Supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY (id);


--
-- Name: Unit Unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Unit"
    ADD CONSTRAINT "Unit_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: warehouses Warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT "Warehouse_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (id);


--
-- Name: expense_categories expense_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_categories
    ADD CONSTRAINT expense_categories_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: pos_shifts pos_shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_shifts
    ADD CONSTRAINT pos_shifts_pkey PRIMARY KEY (id);


--
-- Name: product_unit_conversions product_unit_conversions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_unit_conversions
    ADD CONSTRAINT product_unit_conversions_pkey PRIMARY KEY (id);


--
-- Name: stock_alerts stock_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_alerts
    ADD CONSTRAINT stock_alerts_pkey PRIMARY KEY (id);


--
-- Name: stock_batches stock_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT stock_batches_pkey PRIMARY KEY (id);


--
-- Name: Brand_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Brand_name_key" ON public."Brand" USING btree (name);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: Product_barcode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_barcode_key" ON public."Product" USING btree (barcode);


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: Purchase_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Purchase_number_key" ON public."Purchase" USING btree (number);


--
-- Name: SaleReturn_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SaleReturn_number_key" ON public."SaleReturn" USING btree (number);


--
-- Name: Sale_number_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Sale_number_key" ON public."Sale" USING btree (number);


--
-- Name: Stock_productId_warehouseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Stock_productId_warehouseId_key" ON public."Stock" USING btree ("productId", "warehouseId");


--
-- Name: Unit_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Unit_name_key" ON public."Unit" USING btree (name);


--
-- Name: Unit_shortCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Unit_shortCode_key" ON public."Unit" USING btree ("shortCode");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Warehouse_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Warehouse_code_key" ON public.warehouses USING btree (code);


--
-- Name: Warehouse_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Warehouse_name_key" ON public.warehouses USING btree (name);


--
-- Name: expense_categories_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX expense_categories_name_key ON public.expense_categories USING btree (name);


--
-- Name: expenses_recurringTemplateId_monthYear_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "expenses_recurringTemplateId_monthYear_key" ON public.expenses USING btree ("recurringTemplateId", "monthYear");


--
-- Name: product_unit_conversions_barcode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_unit_conversions_barcode_key ON public.product_unit_conversions USING btree (barcode);


--
-- Name: product_unit_conversions_productId_fromUnitId_toUnitId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "product_unit_conversions_productId_fromUnitId_toUnitId_key" ON public.product_unit_conversions USING btree ("productId", "fromUnitId", "toUnitId");


--
-- Name: Category Category_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PosDraftItem PosDraftItem_draftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraftItem"
    ADD CONSTRAINT "PosDraftItem_draftId_fkey" FOREIGN KEY ("draftId") REFERENCES public."PosDraft"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PosDraftItem PosDraftItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraftItem"
    ADD CONSTRAINT "PosDraftItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PosDraft PosDraft_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraft"
    ADD CONSTRAINT "PosDraft_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PosDraft PosDraft_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraft"
    ADD CONSTRAINT "PosDraft_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PosDraft PosDraft_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PosDraft"
    ADD CONSTRAINT "PosDraft_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_baseUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_baseUnitId_fkey" FOREIGN KEY ("baseUnitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public."Brand"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_purchaseUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_purchaseUnitId_fkey" FOREIGN KEY ("purchaseUnitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_salesUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_salesUnitId_fkey" FOREIGN KEY ("salesUnitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PurchaseLine PurchaseLine_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseLine"
    ADD CONSTRAINT "PurchaseLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PurchaseLine PurchaseLine_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseLine"
    ADD CONSTRAINT "PurchaseLine_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public."Purchase"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PurchaseLine PurchaseLine_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseLine"
    ADD CONSTRAINT "PurchaseLine_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Purchase Purchase_deletedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."Supplier"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Purchase Purchase_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleLine SaleLine_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleLine"
    ADD CONSTRAINT "SaleLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleLine SaleLine_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleLine"
    ADD CONSTRAINT "SaleLine_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SaleLine SaleLine_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleLine"
    ADD CONSTRAINT "SaleLine_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SaleReturnLine SaleReturnLine_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturnLine"
    ADD CONSTRAINT "SaleReturnLine_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleReturnLine SaleReturnLine_returnId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturnLine"
    ADD CONSTRAINT "SaleReturnLine_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES public."SaleReturn"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SaleReturn SaleReturn_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturn"
    ADD CONSTRAINT "SaleReturn_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleReturn SaleReturn_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturn"
    ADD CONSTRAINT "SaleReturn_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleReturn SaleReturn_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleReturn"
    ADD CONSTRAINT "SaleReturn_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sale Sale_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sale Sale_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_deletedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public.pos_shifts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StockMovement StockMovement_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StockMovement StockMovement_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockMovement"
    ADD CONSTRAINT "StockMovement_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Stock Stock_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Stock Stock_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stock"
    ADD CONSTRAINT "Stock_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: expense_categories expense_categories_deletedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_categories
    ADD CONSTRAINT "expense_categories_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: expenses expenses_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT "expenses_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.expense_categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: expenses expenses_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT "expenses_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: expenses expenses_deletedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT "expenses_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public."Purchase"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pos_shifts pos_shifts_forceClosedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_shifts
    ADD CONSTRAINT "pos_shifts_forceClosedById_fkey" FOREIGN KEY ("forceClosedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pos_shifts pos_shifts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_shifts
    ADD CONSTRAINT "pos_shifts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pos_shifts pos_shifts_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pos_shifts
    ADD CONSTRAINT "pos_shifts_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_unit_conversions product_unit_conversions_fromUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_unit_conversions
    ADD CONSTRAINT "product_unit_conversions_fromUnitId_fkey" FOREIGN KEY ("fromUnitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_unit_conversions product_unit_conversions_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_unit_conversions
    ADD CONSTRAINT "product_unit_conversions_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_unit_conversions product_unit_conversions_toUnitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_unit_conversions
    ADD CONSTRAINT "product_unit_conversions_toUnitId_fkey" FOREIGN KEY ("toUnitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_alerts stock_alerts_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_alerts
    ADD CONSTRAINT "stock_alerts_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: stock_alerts stock_alerts_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_alerts
    ADD CONSTRAINT "stock_alerts_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_batches stock_batches_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT "stock_batches_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_batches stock_batches_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_batches
    ADD CONSTRAINT "stock_batches_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: warehouses warehouses_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT "warehouses_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict hvicGcNO1W9DZdabYVQk0hhz5ebjfuKt7cskVdPjpNdr6zCeq77txsUayyUdPKt

